/********************
  Global style variables used in the whole document
  Put any variable you need in here so its easy to update when
  a change its needed
 ********************/
:root {
  --main-logo-height: 100px;
  --main-logo-width: 300px;

  --nav-links-color: rgba(245, 245, 245, 0.8);

  --primary-bg-color: #000b21;

}

body {
  color: whitesmoke !important;
}


/***************
  Navbar styles
****************/
.navbar {
  background-color: var(--primary-bg-color) !important;
}

.main-title {
  color: whitesmoke;
  font-size: 2rem;
}

@media (max-width: 470px) {
  .main-title {
    color: whitesmoke;
    font-size: 1.5rem;
  }
}

.main-logo {
  width: var(--main-logo-width);
  height: var(--main-logo-height);
  min-width: 200px;
  min-height: 33px;
  filter: invert(100%);
}

.icons {
  width: 1.1rem;
  filter: invert(100%);
}

.icons-b {
  width: 1.1rem;
}

.nav-link {
  font-size: 1.02rem !important;
  color: var(--nav-links-color) !important;
}

.nav-item{
  text-align: right;
}

/************
  General styles
*************/

.bg-itsf {
  background-color: var(--primary-bg-color);
}

tr:nth-child(even){
  background-color: var(--primary-bg-color);
}

.title-bg {
  background-color: var(--primary-bg-color);
  border-radius: 10px;
}

.card-itsf {
  border: 4px solid var(--primary-bg-color) !important;
}

/************
  Registro vales
**************/
.filters {
  max-width: 300px;
}

.material-card {
  max-width: 300px;
}

.btn-filter {
  height: 50px;
}