.navbar {
    max-height: 100px;
  }

  .main-title {
    color: whitesmoke;
    font-size: 2rem;
  }

  .main-logo {
    width: 300px;
    height: 100px;
    min-width: 200px;
    min-height: 33px;
    filter: invert(100%);
  }
  
  .icons {
    width: 1.3rem;
    filter: invert(100%);
  }